@import "components/navbar.css";
@import "components/self-intro.css";
@import "components/project.css";
@import "components/my-services.css";
@import "components/skill.css";

.home{
  margin:0;
  background-color: white;
}

.gus-violet{
  background-color: #5258EF;
}

h1{
 font-family: 'Roboto Condensed', sans-serif;
}

h2{
font-family: 'Raleway', sans-serif;
}

h3{
  font-family:'Raleway', sans-serif;
}

p{
 font-family: 'Questrial', sans-serif;
 font-size: 0.8rem;
    letter-spacing: 2px;

    font-weight: 400;
}
