.self-intro-container{
  min-height: 90vh;
  top:0;
  left:0;
}

.self-intro-container h1{
 font-size: 42px;
}

.self-intro{
  margin:100px;
  padding:20px;
  text-align: justify;
  text-justify: inter-word;
}
