.self-intro-container{
  min-height: 90vh;
  top:0;
  left:0;
  padding-top: 20px;
  padding-bottom: 20px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.self-intro-container h1{
 font-size: 70px;
}

.self-intro-container h2{
 font-size: 70px;
}

.self-intro{
  position: relative;
  margin:100px;
  padding:20px;
  text-align: justify;
  text-justify: inter-word;
  width:60%;
}
